/* color palette
#0A2342 - Oxford blue
#2CA58D - jungle green
#84BC9C - dark sea green
#FFFDF7 - baby powder
#F46197 - light crimson */

/* global styles
---------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
/* this below is the box model fix */
*, *:before, *:after {
  box-sizing: inherit;
}
body {
font-family: 'Open Sans', sans-serif;
margin:0;
}
h1, h2 {
  font-family: 'Caveat Brush', cursive;
  font-weight:400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top:0;
}
h3 {
  margin: 0;
}
a {
  color: #F46197;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}
.col-narrow {
  width: 30%;
  float: left;
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  text-decoration: none;
  background: #F46197;
  color: white;
  padding: 10px;
  display:inline-block;
}
/* header and footer
----------------------*/
header, footer {
  background: #0A2342;
  color: #84BC9C;
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}
.profile-img {
    border-radius: 50%;
  }

header h1, header h2 {
  color: #FFFDF7;
  margin: 0;
}
/* footer */
footer {
    text-align:center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
/* Navigation
---------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
/* work experience
---------------------*/
.work {
background: #2CA58D;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin: 0;
}

/* Education
---------------------*/
.education {
  background: linear-gradient(rgba(132, 188, 156, 0.8), rgba(132, 188, 156, 0.5)),
                              url(../images/studies-background.jpg) no-repeat fixed;
}
p + h3 {
  margin-top: 30px;
}

/* Media queries
---------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px) {
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;    
  }
}
