/*stylesheet for Raymont is not cool site */

/* Global styles
-----------------------*/
html, body {
  background: #0A2342; /* Oxford blue */
  margin: 0;
}
/* this below is the box model fix -- to add or not to add? ca cest la question
*, *:before, *:after {
  box-sizing: inherit;
}
---------------------------*/
body {
  font-family: Arial, sans-serif;
  color: white;
}
.article-container {
  border: 5px solid white;
  height: 300px;
  max-width: device-width;
  margin-top: 20 px;
  margin-bottom: 20px;
  overflow: hidden;
}
.article-title {
  position: absolute;
  text-align: left;
  text-transform: uppercase;
}
/*----
float-left {
  float: left;
}
.float-right {
  float: right;
}
----*/
img {
  object-fit:cover;
}

/* Navigation
---------------------*/
nav {
  text-align: right;
  padding-bottom: 25px;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
}
