/*stylesheet for Raymont is not cool site */

/* Global styles
-----------------------*/
html, body {
  background: #0A2342; /* Oxford blue */
  margin: 0;
}
/* this below is the box model fix -- to add or not to add? ca cest la question
*, *:before, *:after {
  box-sizing: inherit;
}
---------------------------*/
body {
  font-family: Arial, sans-serif;
  color: white;
}
.article-container {
  position: relative;
  border: 5px solid white;
}
.article-title {
  position: absolute;
  text-align: left;
  text-transform: uppercase;
}

/*.float-left {
  float: clear-left;
}
.float-right {
  float: clear-right;
}
img {
  width: 50%;
} */

/* Navigation
---------------------*/
nav {
  text-align: right;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
}
