/*stylesheet for Raymond is not cool site

Color palette:
#FFFFFF - white
#2d3142 - gunmetal
#bfc0c0 - silver
#4f5d75 - black coral
#ef8354 - light red ochre */

/* Global styles
-----------------------*/
html, body {
  background: #2d3142;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
/*  background: #bfc0c0; */
  max-width: 80%;
  margin: 0 auto;
}
img {
  object-fit:cover;
}

/* header styles
-------------------*/

/* Navigation
---------------------*/
nav {
  color: #FFFFFF;
  background: #4f5d75;
  position: absolute;
  width: 80%;
  top: 0;
}
nav a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 15px 15px 20px;
  text-align: right;
  color: #FFFFFF;
  border: 2px white solid;
}
a:hover {
  color: #ef8354;
}

.navbar-title {
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
  padding-left: 20px;
}

/* main styles
------------------*/
.article-container-wide {
  border: 2px solid #4f5d75;
  height: 350px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  clear: both;
}
.article-container-narrow {
  border: 2px solid #4f5d75;
  height: 350px;
  max-width: 49%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.article-title {
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 150px;
  padding-left: 20px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* footer
-------------------*/
footer {
  width: 150%;
  bottom: 0;
}
footer a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  text-align: right;
  color: #FFFFFF;
  border: 2px white solid;}
